.titulo {
  padding: 10px;
  background-color: #994522;
  width: 400px;
}

#calculadora {
  width: 25rem;
}

#calculadora .card-header {
  background-color: rgba(247, 223, 181, 0.603);
}

#calculadora .card-body {
  background-color: #994522;
}

#calculadora #display {
  text-align: right;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 30pt;
}

#calculadora button {
  margin: 5px;
  height: 3em;
}

#calculadora .button-text {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16pt;
}

body {
  background-image: url("../img/bg.jpg");
  margin-top: 30px;
}
